<% @page_title = "Pages | Show" %>
<%= link_to("Back to Pages", {:action => 'index', :subject_id => @subject.id}, :class => 'back-link') %>
<div class="pages edit">
<div class="Pages show">
  <h2>Show Page</h2>
  <table summary="Page detail view">
    <tr>
      <th>Subject_id</th>
      <td><%= @page.subject_id %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @page.name %></td>
    </tr>
    <tr>
      <th>Permalink</th>
      <td><%= @page.permalink %></td>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= @page.position %></td>
    </tr>
    <tr>
      <th>Visible?</th>
      <td><%= @page.visible ? 'true' : 'false' %></td>
    </tr>
  </table>
</div>

